anyascii==0.3.2
apparmor==3.1.3
appdirs==1.4.4
argcomplete==3.1.2
asgiref==3.7.2
attrs==23.1.0
Authlib==1.2.1
autoenv==1.0.0
Babel==2.13.0
backoff==2.2.1
beautifulsoup4==4.11.2
black==22.3.0
bleach==6.0.0
blivet==3.8.1
blivet-gui==2.4.2
bodhi-client==7.2.2
Brlapi==0.8.4
Brotli==1.1.0
cachetools==5.3.1
CCColUtils==1.5
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.7
cmake==3.27.6
colorama==0.4.6
configobj==5.0.8
construct==2.10.68
crispy-bootstrap5==0.7
cryptography==41.0.4
cssselect==1.2.0
cupshelpers==1.0
curlylint==0.13.1
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
distro==1.8.0
dj-database-url==0.4.1
Django==4.2.6
django-appconf==1.0.5
django-compressor==4.4
django-crispy-forms==2.0
django-csp==3.7
django-dbbackup==4.0.2
django-dotenv==1.4.1
django-extensions==3.2.1
django-filter==23.3
django-markdownify==0.9.3
django-modelcluster==6.1
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djhtml==1.4.13
dnspython==2.4.2
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
evdev==1.6.1
fedora-third-party==0.10
fedpkg==1.44
ffmpeg==1.4
file-magic==0.4.1
filelock==3.12.4
filetype==1.2.0
flake8==6.1.0
flake8-assertive==2.0.0
flake8-blind-except==0.1.1
flake8-comprehensions==3.8.0
flake8-print==5.0.0
fsspec==2023.9.2
gitdb==4.0.10
GitPython==3.1.37
google-api-core==2.12.0
google-api-python-client==2.102.0
google-auth==2.23.2
google-auth-httplib2==0.1.1
googleapis-common-protos==1.60.0
gpg==1.17.1
gssapi==1.7.3
html5lib==1.1
httplib2==0.22.0
humanize==4.8.0
idna==3.4
initial-setup==0.3.97
inputs==0.5
isort==5.6.4
Jinja2==3.1.2
kerberos==1.3.0
kitchen==1.2.6
koji==1.33.1
l18n==2021.3
langtable==0.0.64
LibAppArmor==3.1.3
libcomps==0.1.20.post1
libdnf==0.72.0
libsass==0.22.0
libvirt-python==9.0.0
lit==17.0.2
llvmlite==0.41.0
lockfile==0.12.2
lutris==0.5.14
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
moddb==0.9.0
more-itertools==10.1.0
mpmath==1.3.0
munch==4.0.0
mutagen==1.47.0
mypy-extensions==1.0.0
networkx==3.1
nftables==0.1
notify2==0.3.1
numba==0.58.0
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.2.140
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
olefile==0.46
openai-whisper==20230918
openidc-client==0.7.0
openpyxl==3.1.2
openrgb-python==0.2.15
packaging==23.2
parsy==1.1.0
pathspec==0.11.2
pexpect==4.8.0
pid==3.0.4
Pillow==10.0.1
pillow-heif==0.13.1
platformdirs==3.11.0
ply==3.11
productmd==1.37
progressbar==2.5
progressbar2==4.2.0
protobuf==4.24.4
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybeam==0.7
pycairo==1.23.0
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.19.0
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pyflakes==3.1.0
pygit2==1.13.1
PyGObject==3.44.2
pykickstart==3.48
pyparsing==3.1.1
pyparted==3.12.0
pypresence==4.3.0
pyrate-limiter==3.1.0
pyroute2==0.7.9
pyroute2.core==0.6.13
pyroute2.ethtool==0.6.13
pyroute2.ipdb==0.6.13
pyroute2.ipset==0.6.13
pyroute2.ndb==0.6.13
pyroute2.nftables==0.6.13
pyroute2.nslink==0.6.13
PySide6-Essentials==6.4.2
PySocks==1.7.1
pysrt==1.1.2
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-fedora==1.1.1
python-gettext==5.0
python-manatools==0.0.4
python-meh==0.51
python-utils==3.8.1
pytz==2023.3.post1
pyudev==0.24.1
pyxdg==0.28
PyYAML==6.0.1
rcssmin==1.1.2
regex==2023.10.3
requests==2.31.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
rjsmin==1.2.2
rpkg==1.66
rpm==4.18.2
rpmautospec==0.3.8
rpmlint==2.4.0
rsa==4.9
scour==0.38.2
selinux==3.5
sepolicy==3.5
setools==4.4.3
setproctitle==1.3.3
shiboken6==6.5.3
shtab==1.6.4
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
smmap==5.0.1
sos==4.5.1
soupsieve==2.5
sqlparse==0.4.4
steam==1.4.4
sympy==1.12
systemd-python==235
telepath==0.3.1
templated-dictionary==1.2
termcolor==2.3.0
tiktoken==0.5.1
tinycss2==1.2.1
tldextract==3.6.0
tldr==3.2.0
toml==0.10.2
tomli_w==1.0.0
toolz==0.12.0
torch==2.1.0
tqdm==4.66.1
triton==2.1.0
typing_extensions==4.8.0
uritemplate==4.1.1
urllib3==2.0.6
VapourSynth==58
vdf==3.4
virtualenv==20.24.5
wagtail==5.1.3
wagtail-font-awesome-svg==0.0.4
webencodings==0.5.1
websockets==11.0.3
whitenoise==6.5.0
Willow==1.6.2
yt-dlp==2023.9.24
zstandard==0.21.0
