{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!-- COMING SOON SECTION -->    
<!--     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link href="{% static 'css/coming-soon-ionicons.css' %}" rel="stylesheet">
            
    <link href="{% static 'css/coming-soon-styles.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/coming-soon-responsive.css' %}" rel="stylesheet"> -->
    <!-- COMING SOON END -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/ILCA-Logo-modified.ico' %}">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
</head>

<body>
<!-- Header Begin -->
        <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <nav class="site-nav mb-5">
        <div class="pb-2 top-bar mb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-lg-9">
                        <a href="#" class="medium mr-3"><span class="icon-question-circle-o mr-2"></span> <span class="d-none d-lg-inline-block">Have a question?</span></a>
                        <a href="#" class="medium mr-3" id="copyPhone"><span class="icon-phone mr-2"></span> <span class="d-none d-lg-inline-block phone-link">+213 5 6068 0908</span></a>
                        <a href="#" class="medium mr-3" id="copyEmail"><span class="icon-envelope mr-2"></span> <span class="d-none d-lg-inline-block email-link">ilca.bejaia@gmail.com</span></a>
                    </div>
                    <div class="col-6 col-lg-3 text-right">
                        <a href="{% url 'login' %}" class="medium mr-3">
                            <span class="icon-lock"></span>
                            Log In
                        </a>
                        <a href="{% url 'register' %}" class="medium">
                            <span class="icon-person"></span>
                            Register
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-nav js-sticky-header">
            <div class="container position-relative">
                <div class="site-navigation text-center">
                    <a href="{% url 'home' %}" class="logo menu-absolute m-0">ILCA<span class="text-primary">.</span></a>
                    <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li class="has-children">
                            <a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">Arabic</a></li>
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">Kabyle</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="btn-book btn btn-secondary btn-sm menu-absolute">Enroll Now</a>
                    <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
        <!-- <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>ILCA</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Language</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="#" class="dropdown-item">Arabic</a>
                        <a href="#" class="dropdown-item">English</a>
                        <a href="#" class="dropdown-item">French</a>
                        <a href="#" class="dropdown-item">Kabyle</a>
                    </div>
                </div>
            <a href="{% url 'register' %}" class="btn btn-primary py-4 px-lg-5">Login/Register<i class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </div>
    </nav> -->
    <!-- </header> -->
    <!-- Header End -->
    <!-- Content Begin -->
    {% block content %}{% endblock content %}
    <!-- Content End -->
    <!-- Footer Begin -->
    {% include 'main/footer.html' %}
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>
    
    <!-- JavaScript Libraries -->
    <script src="{% static 'js/coming-soon-jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/coming-soon-jquery.countdown.min.js' %}"></script>    
    <script src="{% static 'js/coming-soon-scripts.js' %}"></script>
</body>

</html>