{% load static %}
<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <p class="mb-4"><img src="{% static 'img/ILCA-LOGO.svg' %}" alt="Image" class="footer-logo-image img-fluid"></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>
                    <p><a href="{% url 'about' %}">Learn More</a></p>
                </div>
                <div class="col-lg-3">
                    <h3 class="footer-heading"><span>Our Center</span></h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Academics</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3 class="footer-heading"><span>Our Courses</span></h3>
                    <ul class="list-unstyled">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3 class="footer-heading"><span>Contact</span></h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        <p>
                            Copyright ©<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
                            <script>
                            document.write(new Date().getFullYear());
                            </script> All rights reserved | Created by <a href="https://kalebhumpal.dev/" target="_blank">Kaleb Humpal</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>