{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!-- Hero Start -->
<div class="container-fluid p-0 mb-5 position-relative main-image">
    <!-- <img class="img-fluid fit-image" src="{% static 'images/coming-soon.jpeg' %}" alt=""> -->
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center hero-text">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8">
                    <h5 class="text-primary text-uppercase mb-3 animated slideInDown">International Learning Center Algeria, in Bejaia</h5>
                    <h1 class="main-hero-text display-3 text-white animated slideInDown">Unlock Your Language Potential with the International Learning Center</h1>
                    <p class="main-hero-summary fs-5 text-white mb-4 pb-2">Discover the art of communication at ILCA, your ultimate language destination in Bejaia! We are proud to offer exceptional English and Spanish lessons, taught by professional native teachers.</p>
                    <a href="{% url 'about' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Learn More</a>
                    <a href="{% url 'register' %}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- About Us Section Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About ILCA Bejaia</h6>
                <h1 class="mb-4">Welcome to ILCA</h1>
                <p class="mb-4">Unlock the art of effective communication with ILCA, where we take pride in offering exceptional English and Spanish lessons. Our team of professional, native teachers is dedicated to helping you master these languages with confidence and fluency. Explore the diverse range of courses and programs we have tailored for learners of all levels.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Advanced Courses</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Intermediate Courses</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Beginner Courses</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Group Lessons</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Private Lessons</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Adult Courses</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Classes for Children</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-dot-circle text-primary me-2"></i>Academic Support for Each Level</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'about' %}">More About ILCA</a>
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->

<!-- Testimonials Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis in mollitia ipsam ipsum voluptatibus, commodi eos voluptates. Quaerat, quod iusto non reprehenderit natus similique quo quia aperiam debitis sequi magni.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non provident architecto consequatur iure quas officiis explicabo, id molestias blanditiis optio perferendis, modi consequuntur culpa nam voluptatem adipisci eius quidem. Neque.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Beatae accusamus, nobis deserunt ipsum, est quis doloribus deleniti commodi eos non cupiditate perspiciatis soluta nam, obcaecati in illum cumque voluptates. Dolores.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque vel, dignissimos facilis cupiditate nobis nisi laboriosam explicabo minima laudantium aperiam, nostrum. Ad doloribus inventore cupiditate enim ullam a unde libero?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonials End -->

<!-- Team Section Start -->
<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Teachers</h6>
                <h1 class="mb-5">Our Teachers</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-dark">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-1.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-dark">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-2.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-dark">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-3.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-dark">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Team Section End -->

<!-- Courses Section Start -->
<!-- Courses Section End -->


<!-- Registration Section Start -->
<!-- Registration Section End -->

<!-- Contact Us Section Start -->
<!-- Contact Us Section End -->


{% endblock content %}