{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!-- COMING SOON SECTION -->    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <link href="{% static 'css/coming-soon-ionicons.css' %}" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="common-css/jquery.classycountdown.css" /> -->
        
    <link href="{% static 'css/coming-soon-styles.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/coming-soon-responsive.css' %}" rel="stylesheet">
    <!-- COMING SOON END -->

    <!-- Favicon -->
    <link rel="stylesheet" type="text/css" href="{% static 'img/ILCA-Logo.ico' %}">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
</head>

<body>

    {% block content %}{% endblock content %}
    
    <!-- JavaScript Libraries -->
    <script src="{% static 'js/coming-soon-jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/coming-soon-jquery.countdown.min.js' %}"></script>    
    <script src="{% static 'js/coming-soon-scripts.js' %}"></script>
</body>

</html>