{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!-- Hero Start -->
<div class="container-fluid p-0 mb-5 position-relative hero-image">
    <!-- <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt=""> -->
    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center hero-text">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8">
                    <h5 class="text-primary text-uppercase mb-3 animated slideInDown">International Learning Center Algeria, in Bejaia</h5>
                    <h1 class="display-3 text-white animated slideInDown">Unlock Your Language Potential with the International Learning Center</h1>
                    <p class="fs-5 text-white mb-4 pb-2">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Provident modi ullam, repellat commodi. Amet sunt accusantium ratione quo perspiciatis officia officiis, magnam debitis tempore quasi necessitatibus cupiditate, unde distinctio, iusto!</p>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Learn More</a>
                    <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- About Us Section Start -->
<div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About ILCA Bejaia</h6>
                    <h1 class="mb-4">Welcome to ILCA</h1>
                    <p class="mb-4">Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Non maxime dolorem minima corrupti necessitatibus tenetur vero eveniet molestiae. Nobis minus debitis, quibusdam id? Aliquam explicabo temporibus nulla blanditiis unde magni!</p>
                    <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora autem corrupti assumenda ipsam, nostrum impedit nobis vitae porro corporis. Exercitationem perferendis sapiente dolor facere sed quisquam nesciunt temporibus laboriosam. Architecto!</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Learn Spanish</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Learn Spanish for Business</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Learn English</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Practice English for your Baccalaureat</p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">More About ILCA</a>
                </div>
            </div>
        </div>
    </div>
<!-- About Us Section End -->

<!-- Courses Section Start -->
<!-- Courses Section End -->


<!-- Registration Section Start -->
<!-- Registration Section End -->

<!-- Contact Us Section Start -->
<!-- Contact Us Section End -->


{% endblock content %}